.Container{
    background-color: aqua;
   
    border: 7px solid rgba(219, 219, 70, 0.947);
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    width: 100%;
}
.firstFive{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    padding: 20px;
}
.TestFife{
display: flex;
flex-wrap: wrap;
}

.describtion{
display: flex;
justify-content: center;
align-items: center;
border: 2px solid red;
height: 30px;
padding: 10px;
border-radius: 40px;
}
.blockTest{
    
}
.razmer{
    max-height: 250px;
    max-width: 400px;
    
}